<div class="flex flex-col md:flex-row items-center">
  <div class="md:basis-7/12 md:pr-20 ">
    <h1 class="font-bold text-6xl text-yellow-900 my-10">Intimate Invitations for Your Special Moments</h1>
    <p class="my-10 text-yellow-900">Send & Manage Your Online Invitations in minutes. For baby showers, bridal showers, and private dinners.</p>
    <button class="my-10 text-2xl button bg-green-500 px-8 py-3 rounded-lg text-white font-semibold">HOST YOUR EVENT</button>
  </div>
  <div class="md:basis-1/12"></div>
  <div class="md:basis-4/12 mt-5 md:mt-0">
    <div class="box-border hover:box-content h-96 w-full bg-orange-300 rounded-full"></div>
  </div>
</div>
